<form class="signup mx-5 border-top">
    <h3 class="text-primary mt-3">Sign Up</h3>
    <div class="form-group">
        <h2 id="signUpMessage"></h2>
        <label for="signup_username">Username</label>
        <input type="text" class="form-control" id="signup_username" placeholder="Username" autocomplete="on" />
    </div>
    <div class="form-group">
        <label for="signup_email">Email</label>
        <input type="email" class="form-control" id="signup_email" placeholder="Email" autocomplete="on" />
    </div>
    <div class="form-group">
        <label for="signup_password">Password</label>
        <input type="password" class="form-control" id="signup_password" placeholder="Password (min length 8)"
            autocomplete="on" />
                    <small id="emailHelp" class="form-text text-muted">Your password is private and will never be shared with others.</small>
    </div>
    <button id="signup_submit" class="btn btn-primary mt-3">Submit</button>
</form>
<script src="../../public/js/signup.js"></script>
