<main>
    <div>
        <h1>Tech Blog</h1>
        <div>
            <h3>Welcome!</h3>
            <p>Sign up and use of this application is free! </p>
        </div>
        <div>
            {{>login}}
            {{>signup}}
        </div>
    </div>
</main>
