<main>
    <div>
        <h1 class="text-center">Tech Blog</h1>
        <div>
            <h3 class="ms-3">Welcome!</h3>
            <p class="ms-3">Sign up and use of this application is free! </p>
        </div>
        <div>
            {{>login}}
            <br />
            {{>signup}}
        </div>
    </div>
</main>
